.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    background-color: #0084ff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Bảng kết quả */
.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.result-table th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.result-table tr:nth-child(even) {
    background-color: #f2f2f2;
}